body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.oder-container{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;

    
}

.half-width img {

    width: 60%;
    padding-left: 2%;
    margin: 10px;
   
}
.orange-color{
    color: orange;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}

.about-container{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    width: 100%;
    
   
    
}

.gray-color{
    color: gray;
    font-weight: 700;
}

.recipies-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.food-title{
    color: gray;
    margin-left: 10%;
}

.food-iteam{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
   
}

.social-container{
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

.follower{
    margin: 5%;
    border: 2px solid white;
}


footer{
    background-image: linear-gradient(black , black);
    color: white;
    width: 100%;
  
}